services:
  web:
    build: ./flask
    command: python  -u ./app.py
    ports:
      - "5000:5000"
    depends_on:
      - mongo
      - postgres
    environment:
      MONGO_HOST: mongo
      POSTGRES_HOST: postgres

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: testdb
    ports:
      - "5432:5432"